@mixin navstyle{
	display: flex;
	// width: 100%;
	list-style: none;
	justify-content: center;
	max-width: 100%;
	border-style: solid;
	border-color: gainsboro;
	border-width: 1px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 70px;
	margin-right: 70px;
	background-image: linear-gradient(white,gainsboro);

	li{
		margin-left: 90px;
		margin-right: 90px;
	}

}

@mixin linkstyle{
	text-decoration: none;
	color: dodgerblue;
	font-weight: 800;
}

@mixin sectiongrid{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 100px;
	
	p{
		text-align: left;
		margin: 20px;
	}

	h2{
		font-size: 5em;
	}
}